external_url "{{ gls_external_url }}"
gitlab_rails['initial_root_password'] = "{{ gls_admin_password }}"
gitlab_rails['initial_root_username'] = "{{ gls_admin_username }}"
gitlab_rails['gitlab_signup_enabled'] = {{ gls_signup_enabled | lower }}

letsencrypt['enable'] = false

{% if gls_ssl_enabled %}
nginx['ssl_certificate'] = '{{ gls_ssl_cert_path }}'
nginx['ssl_certificate_key'] = '{{ gls_ssl_key_path }}'
nginx['redirect_http_to_https'] = {{ gls_redirect_http_to_https | lower }}
nginx['http2_enabled'] = true
nginx['ssl_protocols'] = 'TLSv1.3'
{% else %}
nginx['listen_https'] = false
{% endif %}

nginx['listen_addresses'] = ['0.0.0.0', '[::]']
{% if gls_enable_internal_db %}
# use interal Postgres DB
postgresql['enable'] = true
{% else %}
# use external Postgres DB
postgresql['enable'] = false
postgresql['host'] = "{{ gls_external_db_host }}"
postgresql['port'] = 5432
postgresql['username'] = "{{ gls_external_db_user }}"
postgresql['password'] = "{{ gls_external_db_password }}"
postgresql['database'] = "{{ gls_external_db_name }}"
{% endif %}

{% if gls_ldap_enabled %}
gitlab_rails["ldap_enabled"] = true
gitlab_rails["ldap_servers"] = YAML.load <<-'EOS'
  main: # 'main' is the Gitlab 'provider ID' of this LDAP server
    label: "{{ gls_ldap_label }}"
    host: "{{ gls_ldap_host | default('ldap.example.com') }}"
    port: {{ gls_ldap_port }}
    uid: "{{ gls_ldap_uid }}"
    bind_dn: "{{ gls_ldap_bind_dn }}"
    password: "{{ gls_ldap_bind_password }}"
    encryption: "{{ gls_ldap_encryption | default('simple_tls') }}"
    verify_certificates: {{ gls_ldap_verify_certificates | lower }}
    smartcard_auth: {{ gls_ldap_smartcard_auth | lower }}
    active_directory: {{ gls_ldap_active_directory | lower }}
    allow_username_or_email_login: {{ gls_ldap_allow_username_or_email | lower }}
    lowercase_usernames: {{ gls_ldap_lowercase_usernames | lower }}
    block_auto_created_users: {{ gls_ldap_block_auto_created_users | lower }}
    base: "{{ gls_ldap_group_base | default('') }}"
EOS

gitlab_rails["default_can_create_project"] = {{ gls_ldap_can_create_project | lower }}
gitlab_rails["default_can_create_group"] = {{ gls_ldap_can_create_group | lower }}
{% else %}
gitlab_rails["ldap_enabled"] = false
{% endif %}

{% if molecule_test %}
gitlab_rails["monitoring_whitelist"] = ["127.0.0.0/8", "::1"]
{% else %}
gitlab_rails["monitoring_whitelist"] = ["127.0.0.0/8", "::1", "{{ enable_ip_list | regex_replace('^https?://', '') }}"]
{% endif %}
